/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/storage/app/images/package/package_1_0000.jpg
/storage/app/images/package/package_2_0000.jpg
/storage/app/images/package/package_3_0000.jpg
/storage/app/images/package/package_4_0000.jpg
/storage/app/images/package/package_5_0000.jpg
/storage/app/images/package/package_6_0000.jpg
/storage/app/images/package/package_7_0000.jpg
/storage/app/images/umrah/reservation-list.svg