*
!public/
!.gitignore

!images/package/package_1_0000.jpg
!images/package/package_2_0000.jpg
!images/package/package_3_0000.jpg
!images/package/package_4_0000.jpg
!images/package/package_5_0000.jpg
!images/package/package_6_0000.jpg
!images/package/package_7_0000.jpg
!images/umrah/reservation-list.svg